@font-face{
  font-family: 'manrope-reg';
  src:url('../font/manrope-regular.woff2') format('woff2');
}

@font-face{
  font-family: 'manrope-bold';
  src:url('../font/manrope-bold.woff2') format('woff2');
}

@font-face{
  font-family: 'anton';
  src:url('../font/Anton.woff2') format('woff2');
}



html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: 'manrope-bold',sans-serif; }

.site {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 3fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 6fr 2fr;
  min-height: 100vh; }
  .site .header {
    height: 103px;
    grid-column: 1/ span 7;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 3fr 2fr 2fr 1fr;
    border-bottom: 1px rgba(255, 255, 255, 0.4) solid; }
    .site .header #logo {
      grid-column: 1;
      align-self: center;
      justify-self: center; }
    .site .header img {
      max-width: 100%;
      height: auto;
      width: 60px; }
    .site .header #card {
      font-size: 1.6rem;
      font-weight: bold;
      grid-column: 7;
      align-self: center;
      justify-self: center;
      text-transform: uppercase; }
    .site .header #menu {
      font-family: 'manrope-reg',sans-serif;
      grid-column: 6;
      font-size: 1.6rem;
      align-self: center;
      justify-self: center;z-index: 10}
      .site .header #menu i {
        margin-right: 5px; }
    .site .header #icone {
      grid-column: 5;
      align-self: center;
      justify-self: center; }
    .site .header a {
      text-decoration: none;
      color: white;
      font-size: 2.0rem; }
  .site .body {
    grid-column: 3/ span 4;
    grid-row: 2;
    color: white;
    font-size: 6.5rem;
    letter-spacing: 40px;
    text-transform: uppercase;
    text-align: center; }
  .site span {
    color: red; }
  .site .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 3fr 2fr 2fr 1fr;
    grid-column: 1/ span 7;
    grid-row: 3;
    border-top: 1px rgba(255, 255, 255, 0.4) solid; }
    .site .footer #follow {
      grid-column: 5;
      align-self: end;
      justify-self: center; }
    .site .footer #add {
      grid-column: 7;
      align-self: center;
      justify-self: center; }
    .site .footer a {
      text-decoration: none;
      color: white;
      font-family: "Arial ", sans-serif;
      font-size: 2.0rem; }
  .site .shadow {
    grid-column: 1;
    grid-row: 1/ span 3;
    border: solid white 1px;
    opacity: 0.4;
    z-index: -1; }
  .site .shadow2 {
    grid-column: 2;
    grid-row: 1/ span 3;
    border-top: solid white 1px;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    opacity: 0.4;
    z-index: -1; }
  .site .shadow3 {
    grid-column: 3;
    grid-row: 1/ span 3;
    border-top: solid white 1px;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    opacity: 0.4;
    z-index: -1; }
  .site .shadow4 {
    grid-column: 4;
    grid-row: 1/ span 3;
    border-top: solid white 1px;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    opacity: 0.4;
    z-index: -1; }
  .site .shadow5 {
    grid-column: 5;
    grid-row: 1/ span 3;
    border-top: solid white 1px;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    opacity: 0.4;
    z-index: -1; }
  .site .shadow6 {
    grid-column: 6;
    grid-row: 1/ span 3;
    border-top: solid white 1px;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    opacity: 0.4;
    z-index: -1; }
  .site .shadow7 {
    grid-column: 7;
    grid-row: 1/ span 3;
    border-top: solid white 1px;
    border-right: solid white 1px;
    border-bottom: solid white 1px;
    opacity: 0.4;
    z-index: -1; }

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }
  .form input[type="submit"] {
    grid-column: 1 / span 2;
    background-color: white;
    color: black;
    margin-top: 5px; }
  .form input {
    height: 50px;
    background-color: black;
    border: white 1px solid;
    color: white;
    font-size: 1.5rem; }
    .form input::placeholder {
      font-family: 'manrope-reg',sans-serif;
      color: white; }


article p{
  font-family: 'anton';
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 1fr; }

.formulaire {
  grid-column: 2;
  color: white;
  text-align: center;
  padding: 20px;
  align-items: center;
  align-self: center; }
  .formulaire .red {
    color: red;
    margin: 20px; }
  .formulaire .bigSIze {
    font-size: 2em; }
  .formulaire .bas {
    margin-top: 100px; }

.imgform img{
  grid-row:1/2;
  grid-column:1;
  width:1000px;
  height:auto;
}

.main {
  height: 100vh; }

.shoechoice{
  grid-row:2;
  grid-column:2/ 8;
  background-color: white;

  
  text-align:center;
}

.shoechoice p{
  font-size:20px; 
  font-family: 'manrope-reg', sans-serif;
}

.shoechoice h1{
  margin-top:50px;
  font-weight: bold;
  font-size:36px;
  font-family: 'manrope-bold', sans-serif;
}

#shoe{

transition-duration: 0.6s;
}

#model1{
  background-color:#222;
  border:none;
  padding:15px;

  margin:5px;
  cursor:pointer;
}

#model2{
  background-color:#eee;
  padding:15px;

  border:none;
  margin:5px;
  cursor:pointer;
}

#model3{
  background-color:rgb(129, 10, 153);
  padding:15px;

  border:none;
  margin:5px;
  cursor:pointer;
}

#model3d{
  background-color:black;
  padding: 10px;
  color:white;
  border:none;
  margin:5px;
  cursor:pointer;

}

.shoechoice .sizechoice{
  background-color:#ffffff;
	border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  padding:16px 30px;
  font-size: 16px;
  font-weight:600;
  font-family: 'Roboto', sans-serif;
}

.shoechoice .addcard{
  background-color:#222;
	border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#eee;
  padding:16px 52px;
  font-size: 16px;
  font-weight:500;
  font-family: 'Roboto', sans-serif;
}

.size-card{
  margin-top:50px;
}

.link2{

}
#nav{
grid-column: 6;
grid-row: 2;
z-index: 2;
  justify-self: center;
  visibility: hidden;
}
nav >div{
  text-align: center;

}
nav> div >a {
 text-decoration:none ;
  color:white;
  font-family: 'manrope-bold',sans-serif;
  font-size:1.6em;

}


#link1{
transition-duration: 0.2s;

  z-index:10;
}

#link2{
  transition-duration: 0.4s;


}
#link3{
  transition-duration: 0.6s;

}


.links{
  grid-row: 2;
  grid-column: 1/3;
  margin : 30px;
}

.links a{
  text-decoration: none;
  color:#aaa;
  font-family: 'anton';
    font-weight: normal;
    font-style: normal;
  font-size:100px;
  
}

.links a:hover{
  color:white;
}



.aboutline2{
grid-row: 1;
grid-column: 5;
border-right:1px rgba(255, 255, 255, 0.4) solid;
border-left:1px rgba(255, 255, 255, 0.4) solid;
}

.aboutline3{
  grid-row: 1/4;
  grid-column: 3;
  border-right:1px rgba(255, 255, 255, 0.4) solid;
}

.aboutcontent{
  grid-row: 2;
  grid-column: 4/8;
  background-image: url("../img/Swoosh.png") ;
  background-repeat: no-repeat;
}

.aboutcontent .abouttext{
  grid-row: 2;
  grid-column: 4/8;
width:500px;
margin:100px auto;
}


.aboutcontent .abouttext #whitetext{
  color:white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Helvetica';
}

.aboutcontent .abouttext #redtext{
  color:rgb(145, 12, 12);
  font-size:18px;
}



#register{
  background-image: url("../img/imgform.png");
  background-size: cover;
}

/*dropdown*/

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #212121;
}



#ddmm {
  color: #FAFAFA;;
  grid-column: 6;
  grid-row: 1;

justify-self: center;
  align-self: center;
  z-index: 10;


}

#ddmm ul,
#ddmm ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#ddmm ul li {
  display: inline-block;
  position: relative;
  perspective: 1000px;
  perspective-origin: top left;

}

#ddmm ul li:hover {
  background-color: #424242;



}

#ddmm ul li a {
  display: inline-block;
  padding:25px 105px;
  color: #FAFAFA;
  text-decoration: none;
}

#ddmm ul li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #212121;
}

#ddmm ul li > ul li {
  display: block;
  perspective: 1000px;
  perspective-origin: top left;
}

#ddmm ul li > ul li a {
  width: 100%;
  white-space: nowrap;
}

#ddmm ul li > ul li > ul {
  display: none;
  top: 0;
  left: 100%;
}

#ddmm ul li:hover > ul,
#ddmm ul li > ul li:hover > ul {
  display: block;
  transform-origin: top center;
  animation-name: ddmm_animate;
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes ddmm_animate {
  from {
    opacity: 0;
    transform: translateY(15px) rotateY(90deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateY(0);
  }
}

@media (max-width: 720px) {

  #ddmm ul li {
    display: block;
  }

  #ddmm ul li a {
    display: block;
  }

  #ddmm ul li > ul {
    position: relative;
  }

  #ddmm ul li > ul,
  #ddmm ul li > ul li > ul {
    top: 0;
    left: 0;
  }

  #ddmm ul li > ul li a:hover {
    text-decoration: underline;
  }

  #ddmm ul li:hover > ul,
  #ddmm ul li > ul li:hover > ul {
    margin-left: 30px;
    background-color: #424242;
    animation-name: ddmm_animate__mobile;
  }

}

@keyframes ddmm_animate__mobile {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 640px) {
  #ddmm{
    display: none;
  }
  #icone{
    display: none;
  }
  #card{
    display:none;
  }
}

#black1{
  background-color:black;
  width:821px;
  height:50px;
  position:absolute;
  z-index:99;

}

#black2{
  background-color:black;
  width:821px;
  height:50px;
  position:absolute;
  z-index:999;
  bottom:205px;
}

/*cart*/


.shop {
  position: relative;
  z-index: 5;
}





button--light {
  background: #fff;
  color: #f00;!important;

}
#red_button{
  color:red;
  font-size: 1.2em;


}
.cart {
  position: fixed;
  background: #f3f3f3;
  width: 400px;
  max-width: 90%;
  height: 100%;
  top: 0;
  right: 0;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translate(500px, 0);
  transition: transform 250ms ease-in-out;
  z-index: 20;
}

body.open .cart {
  transform: translate(0, 0);
}

.cart__header {
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px 15px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.cart__header .cart__text {
  float: right;
}

.cart__title {
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  float: left;
}

.cart__products {
  box-sizing: border-box;
  grid-column: 7;
  grid-row: 2;
  width: 100%;
  height: 100%;
  padding: 70px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}
.cart__products article {
  padding: 15px;
  border-bottom: 1px dotted #ccc;
}
.cart__products article h1 {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.cart__products article p {
  font-size: 14px;
  margin: 0;
}
.cart__products article p a {
  color: #f00;
}

.cart__product {
  display: none;
}

.cart__empty {
  padding: 30px 15px;
  margin: 0;
  font-style: italic;
  text-align: center;
}
.cart__empty.hide {
  display: none;
}

.cart__footer {
  box-sizing: border-box;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 15px;
  left: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  text-align: right;
}

.cart__text {
  margin: 0;
}
.cart__text .button {
  padding: 10px 15px;
}

.lightbox {
  position: fixed;
  background: #000;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 250ms ease-in-out, width 0ms ease-in-out 250ms;
}

body.open .lightbox {
  width: 100%;
  opacity: 0.8;
  transition: opacity 250ms ease-in-out, width 0ms ease-in-out;
}
